html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body{
    /*background-color: #DFDFEE;*/
    background-color: #323232;
    font-family: "Times New Roman";
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

/*ヘッダー*/
.hedder{
    width: 100%;
    height: 60px;
    margin: auto;
    line-height: 60px;
    /*position: fixed;*/
    top: 0px;
    left: 0px;
    z-index: 999;
    background-color: #505050;
    overflow: hidden;
    /*font-family: cursive;*/
    font-weight: 900;
}

/*E-Cellのロゴ*/
#logo{
    float: left;
    position: relative;
    margin-left: 10px;
    top: 5px;
    width: 50px;
    height: 50px;
    z-index: 100;
    background-color: #505050;
}

/*Webbsのタイトル*/
#title{
    float: left;
    position: absolute;
    margin-left: 30px;
    line-height: 60px;
    font-size: 30px;
    font-family: serif;
    display: inline-block;
    color: white;
    z-index: 100;
    height: 60px;
    background-color: #505050;
}

/*サブタイトル*/
#subtitle{
    font-size: 20px;
    z-index: 100;
}

/*水平線*/
hr{
    position: relative;
    width: 99%;
}

/*リンクなど*/
.top{
    position: relative;
    float: right;
    margin-right: 50px;
    width: 300px;
    height: 60px;
}

.bar{
    position: absolute;
    width:100px;
    height: 40px;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

#home{
    left: 0px;
    top: 0px;
}

#models{
    right: 85px;
    top: 0px;
}

#links{
    right: -50px;
    top: 0px;
}

/*モデル選択*/
.viewDiv{
    height: 88%;
    width: 95%;
    margin: 10px auto;
    position: relative;
}

.viewHedder{
    width: 95%;
    height: 60px;
    color: white;
    position: fixed;
    z-index: 100;
}

.main{
    position: absolute;
    top: 60px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.viewHedder table{
    position: absolute;
    bottom: 0px;
}

.form{
    display: inline-block;
    line-height: 30px;
}

form{
    display: inline;
}

.pagemove{
    display: inline-block;
    line-height: 30px;
    position: absolute;
    right: 0px;
    height: 30px;
}

.M_TD{
    width: 20%;
}

.M_Ti{
    width: 65%;
}

.M_Pu{
    width: 15%;
}


/*モデル選択画面*/

table {
    display: table;
    border: 1px solid #ccc;
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    width:100%;
    color: black;
}

table th {
    border-right: 1px solid #6B97BF;
    border-bottom: 1px solid #6B97BF;
    border-left: 1px solid #6B97BF;
    background-color: white;  
}
table td {
    border-top: 1px solid #ececec;
    border-right: 1px solid #ccc;
    border-bottom: none;
    border-left: 1px solid #ccc;
}
table tr {
    border-bottom: 1px solid #ccc;
    background-color: white;
}

table tr td:nth-of-type(1):hover{
	color: blue;
}

table tr:nth-child(even) {
    background-color: #ECECEC; /* whiteと適度に差がある配色 */
}

