html{
    width: 100%;
    height: 100%;
}

body{
    /*background-color: #DFDFEE;*/
    background-color: #323232;
    font-family: "Times New Roman";
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

/*ヘッダー*/
.hedder{
    width: 100%;
    height: 60px;
    margin: auto;
    line-height: 60px;
    /*position: fixed;*/
    top: 0px;
    left: 0px;
    z-index: 999;
    background-color: #505050;
    overflow: hidden;
    /*font-family: cursive;*/
    font-weight: 900;
}

/*E-Cellのロゴ*/
#logo{
    float: left;
    position: relative;
    margin-left: 10px;
    top: 5px;
    width: 50px;
    height: 50px;
    z-index: 100;
    background-color: #505050;
}

/*Webbsのタイトル*/
#title{
    float: left;
    position: absolute;
    margin-left: 30px;
    line-height: 60px;
    font-size: 30px;
    font-family: serif;
    display: inline-block;
    color: white;
    z-index: 100;
    height: 60px;
    background-color: #505050;
}

/*サブタイトル*/
#subtitle{
    font-size: 20px;
    z-index: 100;
}

/*水平線*/
hr{
    position: relative;
    width: 99%;
}

/*リンクなど*/
.top{
    position: relative;
    float: right;
    margin-right: 50px;
    width: 300px;
    height: 60px;
}

.bar{
    position: absolute;
    width:100px;
    height: 40px;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

#home{
    left: 0px;
    top: 0px;
}

#models{
    right: 85px;
    top: 0px;
}

#links{
    right: -50px;
    top: 0px;
}

/*タイム入力*/
.timeSet{
    display: inline;
    line-height: 40px;
    height: 5%;
    width: 100%;
    top: 0px;
    left: 0px;
    margin-left: 1.5%;
    margin-bottom: 0%;
    background-color: #323232;
    color: white;
    overflow: hidden;
}

#timeInp{	
    margin-right: 5px;

}
#stopbtn{
    margin-right: 5px;
}
#timeout{
    margin-left: 3px;
}

/*シミュレーションページ*/
.main{
    /*min-width: 1150px;*/
    position:relative;
    width:100%;
    height:100%;
    margin-top: 0.1%;
    float:left;
    vertical-align: top;
    overflow:auto;
    z-index: 100;

}

.content{
	float: left;
}

/*モデルのツリー構造*/
.tree{
	display: inline-block;
	margin-left: 1.5%;
	float: left;
	width:47%;
	Min-height: 10%;
	Max-height: 87%;
	border: solid 3px gray;
	background-color: #ffffff;
	padding: 5px;
	border-radius: 5px;
	overflow: auto;
}

/*graph化できる変数*/
.graphable{
    border:1.5px  solid;
	padding-left:0.5%;
	border-radius:3px;
	background-color:#f8f8f8;
}

.static{
    border:1.5px  solid;
	border-color: white;
	padding-left:0.5%;
	border-radius:3px;
}

.graphable:hover{
    border:1.5px  solid;
	border-radius: 3px;
	border-color:black;
	color:red;
	background-color: "#f8f8f8";
}

/*graph描画エリア*/
#tabs{
    margin-top: -0.7%;
}

.subtab{
    width:15%;
    height:5%;
    font-size:12px;
    display:inline-block;
    text-align:center;
    margin-top:-15%;
    margin-left:-1.2%;
    padding-top:3px;
    color: white;
    background-color: white;
    border: solid 2px gray;
}
.subtab:hover{
    background-color:#323232;
    color white;
}

.sub{
	display: inline-block;
	float: left;
	margin-right: 0%;
	margin-left:  1%;
	width: 47%;
	Min-height: 60%;
	Max-height: 87%;
	border: solid 3px gray;
	background-color: #ffffff;
	padding: 5px;
	border-radius: 5px;
    overflow:auto;
    /*position: fixed;*/
    top: 100px;
}

#graphAll{
    height:100%;  
    width:100%;
}
#graph{
    width:100%;
    height:100%;
} 

#discription{
	margin:5px;
	Max-height: 98%;
	overflow: auto;
}

.axis path,
.axis line{
    fill: none;
    stroke: black;
}


.tick line{
      opacity: 0.2;
}

.tick text{
    font-size: 10px;
}

.line{
    fill: none;
    /*stroke: gray;*/
    stroke-width: 1.5px;
}

svg {
    width: 100%;
    height: 100%;
    font: 10px sans-serif;
    z-index: 200;
    shape-rendering: crispEdges;
}


rect {
}


#simulation{
    display: none;
    height: 100%;
    width: 100%;
    position: relative;
}

.field{
     position: relative;
     margin: auto;
}
            

/*モデル選択画面*/
#modelDiv{
    height:93%;
    width:93%;
}

#repo{
   /*margin-top:7px;*/
   width:100%;
   height: 98%;
   margin-bottom: 10px;
   overflow:auto;
}

#biomodels {
    border: 1px solid #ccc;
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    width:100%;
}

#biomodels th {
    border-right: 1px solid #6B97BF;
    border-bottom: 1px solid #6B97BF;
    border-left: 1px solid #6B97BF;
    background-color: white;  
}
#biomodels td {
    border-top: 1px solid #ececec;
    border-right: 1px solid #ccc;
    border-bottom: none;
    border-left: 1px solid #ccc;
}
#biomodels tr {
    border-bottom: 1px solid #ccc;
    background-color: white;
}

#biomodels tr td:nth-of-type(1):hover{
	color: blue;

}

#biomodels tr:nth-child(even) {
    background-color: #ECECEC; /* whiteと適度に差がある配色 */
}
